<style>
  .message-content: {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Seja bem vindo ao GoBarber!</p>
  <p>Já esta quase tudo pronto para que você possa agendar um horário!</p>
  <p>Mas antes disso, ative a sua conta clicando no link abaixo.</p>
  <a href="{{link}}">
    Ativar conta
  </a>
  <p>
    Obrigado!<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
