<style>
  .message-content: {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que você se esqueceu da sua senha de acesso ao GoBarber</p>
  <p>Para recuperar sua senha, acesse o link abaixo!</p>
  <a href="{{link}}">
    Recuperar senha
  </a>
  <p>
    Obrigado!<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
