<style>
  .message-content: {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Suas informações foram atualizadas com sucesso</p>
  <p>Seu e-mail foi alterado de <strong>{{old_mail}}</strong> para <strong>{{new_mail}}</strong></p>
  <p>
    Obrigado!<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
